Курсовий/2021/phototempo/курсова/nodes-in-nodered.md
[{"id":"6e8f29ca.290ff8","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"73fab43e.ea74dc","type":"imagecapture","z":"6e8f29ca.290ff8","name":"Image Capture","configfile":"/home/pi/fswebcam.conf","x":1100,"y":220,"wires":[["cefc48e2.c688d8"]]},{"id":"18294369.cca0ed","type":"switch","z":"6e8f29ca.290ff8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":320,"wires":[["73fab43e.ea74dc"],["1a0b303.ed0edd"]]},{"id":"1a0b303.ed0edd","type":"imagecapture","z":"6e8f29ca.290ff8","name":"Image Capture","configfile":"/home/pi/fswebcam.conf","x":1100,"y":400,"wires":[["cefc48e2.c688d8"]]},{"id":"cefc48e2.c688d8","type":"debug","z":"6e8f29ca.290ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":300,"wires":[]},{"id":"32f406ca.abf5ea","type":"rpigpio","z":"6e8f29ca.290ff8","addressdi":0,"addressdo":0,"itemlist":[{"init":"1"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"},{"init":"0"}],"x":490,"y":220,"wires":[["18294369.cca0ed"]],"inputLabels":["GPIO02"]},{"id":"c87528e1.2b4c88","type":"inject","z":"6e8f29ca.290ff8","name":"","props":[{"p":"topic","v":"a","vt":"global"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":220,"wires":[["32f406ca.abf5ea"]]},{"id":"62627551.f466ec","type":"function","z":"6e8f29ca.290ff8","name":"randtemperature","func":"function randtemperature(min, max) {\n  let rand = min + Math.random() * (max - min);\n  const parameters = Number(rand.toFixed(0));\n  return parameters;\n}\n\nlet temperature = randtemperature(-10, 40);\nmsg.payload = temperature;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":420,"wires":[["18294369.cca0ed"]]},{"id":"c8ff3e99.f236e","type":"inject","z":"6e8f29ca.290ff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":420,"wires":[["62627551.f466ec"]]}]